/* Created by: Venika Sem
* Created on: Mar 2022
* This file contains the CSS for index.html
*/

h2 {
  color: #ff1a1a;
  font: 60pt "Times New Roman", Times, serif;
  font-weight: bold;
  line-height: 20pt;
  padding: 5px;
}

p {
  color: #986a06;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  padding: 5px;
}

h3 {
  color: #6f1515;
  font: 15pt "Times New Roman", Times, serif;
  font-weight: bold;
  line-height: 16pt;
}

img {
  position: left;
}